*{
    font-family: arial;

}

.btn-secundary{  /* color boton shop mens */
    background: #454545;
    color: #f0fff0;
}
.menuimg{
border-color: 5px 5px #454545;
width: auto;
height: auto;
}
.colorfon{

    background: #e8e8e8;
}
.tamañoimg{
    width: 400px;
    height: 300px;
}
.cuadro{
    width: 400px;
    height: 300px;
}
.tamañoimgcont{
    width: 190px;
    height:250px;

}
.colorboton{
    background: darkgrey ;
    color: floralwhite;
}
.espacio{
    width: 30%; margin: 10px 5px;
}

.Redso{
margin: 50px;
background: #9ab3f5;
}
.Redsoci{
    color: honeydew;
    margin: 10px 10px 15px 15px;
}
.iconem{
    background: #7e7474 ;
    color: #fbf7f0;
    margin: 15px;
}
.espaciofoo{
    margin: 15px;
}
.Anunci{
    width: 100px;
    height: 100px;
  left: 500px;
  }