.btn-secundary{  /* color boton shop mens */
    background: #454545;
    color: #f0fff0;
}
.menuimg{
border-color: 5px 5px #454545;
width: auto;
height: auto;
}
.colorfon{

    background: #e8e8e8;
}
.tamañoimg{
    width: 400px;
    height: 300px;
}
.cuadro{
    width: 400px;
    height: 300px;
}
.tamañoimgcont{
    width: 190px;
    height:250px;

}
.colorboton{
    background: darkgrey ;
    color: floralwhite;
}
.espacio{
    width: 30%; margin: 10px 5px;
}
